body {background-color: seagreen;
    background: url(..//pictures/water\ monster.png)
    background-size: 1050px 650px;
    
}

.locationList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}


.locations {
      
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      color: gold;
}

.location {
  flex-basis: 30%;

}

.place {
        flex-basis: 30%;
        border: black solid 3px;
        justify-content: center;
}

.quotes {border: solid 1px black; 
  color: silver;
  font-weight: bold;
    
}
a{text-decoration: none;
  margin: 2vw;
  justify-content: space-evenly;
}

nav {margin: 2vw;}


.travel { font-weight: bold; 
          font-size: 20px;
          color: white;
}

img {
  height: 200px;
  width: 200px;
}


