body {background-color: seagreen;
    background: url(..//pictures/water\ monster.png)
    background-size: 1050px 650px;
    
}

.locations {
      border: solid 1px black;
      justify-content: space-evenly;
      display: flex;
      flex-wrap: wrap;
      color: gold;
}

.place {
        flex-basis: 30%;
        border: black solid 1px;
        justify-content: center;
}

.quotes {border: solid 1px black; 
  font-weight: bold;
  color: white;
    
}
a{text-decoration: none;
  margin: 2vw;
  justify-content: space-evenly;
}
nav {margin: 2vw;}
.travel { font-weight: bold; 
          font-size: 20px;
          color: white;
}

img {
  height: 200px;
  width: 200px;
}


