body {
  background-color: goldenrod;
}

  
.fishListSection {
display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  
  
}

.fishList {flex-basis: 48%;
  justify-content: space-evenly;

}





.fish { 
  flex-basis: 26%;
  padding: 25px;

}


.fish__image {
  width: 250px;

}


aside {
  width: 25%;
  border: px solid black;
  
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  

}

.tip { 
  padding: 10xp;
  border: solid;
  
  
}

.tipTips {
  color: silver;
  
  font-style: italic;
  text-align: center;
  

}