body {
  background-color: goldenrod;
}

  
.fishListSection {
display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  
  
}

.fishList {flex-basis: 48%;

}



.fish { 
  flex-basis: 26%;

}


.fish__image {
  width: 200px;

}


aside{
  width: 30%;
  border: 5px solid black;
  padding: px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  

}
